/* ---------navbar------------- */

.navbar-container {
  height: 7rem;
  background: #131921;
  color: white;
}
.navbar-primary {
 max-height: 72%;
  display: grid;
  grid-template-columns: 0.8fr 1.5fr 0.5fr;
}
.navbar-title {
  padding: 1.15rem;
  color: white;
}
.navbar-user {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 1rem;
  padding-right: 1rem;
}
.nav-icon {
  font-size: 32px;
  color: var(--icons-color);
}
.navbar-secondary {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  height: 35%;  
  padding-left: 1rem;
  background-color: #2d3a4e;
  color: var(--icons-color);
}
.navbar-secondary a:hover {
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
@media (max-width: 1262px) {
  .navbar-title {
    font-size: 1.4rem;
    padding: 1.45rem;
  }
}
@media (max-width: 932px) {
  .navbar-title span{
    padding-left: 1rem;
  }
}
/* -------------input-search-container--------------- */

.input-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-search {
  width: 100%;
  display: flex;
}
.input {
  width: 80%;
  /* border: none; */
  border-radius: 12px;
}
